target/classes/test_poc.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="57556223-dc42-45da-a969-25b3ec0543db" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="test_pocFlow" doc:id="72e51192-0e07-439a-8b34-83b21912b7c6" >
		<http:listener doc:name="Listener" doc:id="f4c15290-584f-4539-b7c1-1681c4c1ac48" config-ref="HTTP_Listener_config" path="/test"/>
		<logger level="INFO" doc:name="Logger" doc:id="b8dd9570-fdc8-4339-9f9a-f3a3cb0dd559" message="#[payload]"/>
		<set-payload value='#["Testing this on 2.0"]' doc:name="Set Payload" doc:id="b2c01756-0b9c-4b92-9eef-9f841f732d79" />
	</flow>
</mule>
